<%= render "shared/single_box" do %>
  <div>
    <h1 class="text-3xl font-bold pb-4 text-[#1f2937] text-center">
      Sign In
    </h1>

    <%= form_with(url: session_path, html: { autocomplete: "on" }) do |form| %>
      <%= form.text_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your username", value: params[:email_address], class: "input input-bordered w-full mb-2 mt-2" %>
      <br>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", class: "input input-bordered w-full mb-2" %>
      <br>
      <%= form.submit "Sign In", class: "btn rounded-full bg-[#8294C4] text-[#000000] hover:bg-[#DBDFEA] mt-4 w-full" %>
    <% end %>

    <div>
      <%= link_to "Sign Up", new_signup_path, method: :get,
                  class: "btn rounded-full w-full bg-[#FFEAD2] text-[#8294C4] py-3 rounded-[var(--rounded-btn,.5rem)] font-semibold hover:bg-[#DBDFEA] transition-all duration-300 mt-2" %>
    </div>
    <div class="pt-4 text-center">
      <%= link_to "Forgot password?", new_password_path, class: "text-[#8294C4] hover:underline" %>
    </div>
    <div class="pt-4 text-center">
      <%= link_to "Back to home", root_path, class: "text-[#022658] hover:underline" %>
    </div>
  </div>
<% end %>
