<%= render "shared/single_box" do %>
  <h1 class="text-3xl font-bold pb-4 text-[#1f2937] text-center">
    Sign Up
  </h1>

  <%= form_with(model: @user, url: signup_index_path, class: "form-control", local: true, html: { autocomplete: "on" }) do |form| %>
    <%= form.text_field :first_name, class: "input input-bordered w-full mt-2", placeholder: "First Name", required: true %>
    <%= form.text_field :last_name, class: "input input-bordered w-full mt-2", placeholder: "Last Name", required: true %>

    <%= form.email_field :personal_email, class: "input input-bordered w-full mt-2", placeholder: "Your Personal Email", required: true %>

    <%= form.password_field :password, class: "input input-bordered w-full mt-2", placeholder: "Password", required: true, autocomplete: "new-password" %>
    <%= form.password_field :password_confirmation, class: "input input-bordered w-full mt-2", placeholder: "Confirm Password", required: true, autocomplete: "new-password" %>
    <%= form.select :school_id, School.all.collect { |s| [s.name, s.id] }, { prompt: "Select School" }, class: "input input-bordered w-full mt-2" %>

    <div class="mt-4">
      <div class="flex items-center mt-2 justify-center">
        <%= form.radio_button :role, "teacher", class: "radio radio-primary" %>
        <div class="pr-4 px-2">Teacher</div>
        <%= form.radio_button :role, "student", class: "radio radio-primary" %>
        <div class="px-2">Student</div>
      </div>
    </div>

    <%= form.submit "Sign Up", class: "btn btn-primary w-full mt-4" %>
  <% end %>

  <div class="pt-4 text-center">
    <%= link_to "Back to Sign In", new_session_path, method: :get, class: "text-[#8294C4] hover:underline" %>
  </div>
<% end %>
