<h1>My Profile</h1>

<p><strong>Name:</strong> <%= @student.name %></p>
<p><strong>UID:</strong> <%= @student.uid %></p>
<p><strong>Grade:</strong> <%= @student.grade %></p>
<p><strong>Email:</strong> <%= @student.student_email_address %></p>
<p><strong>Parent Email:</strong> <%= @student.parent_email_address %></p>
