<ul class="space-y-2">
  <li>Primary: <span style="color:<%= @color_theme.primary_color %>"><%= @color_theme.primary_color %></span></li>
  <li>Secondary: <span style="color:<%= @color_theme.secondary_color %>"><%= @color_theme.secondary_color %></span></li>
  <li>Tertiary: <span style="color:<%= @color_theme.tertiary_color %>"><%= @color_theme.tertiary_color %></span></li>
  <li>Accent: <span style="color:<%= @color_theme.accent_color %>"><%= @color_theme.accent_color %></span></li>
  <li>Background: <span style="color:<%= @color_theme.background_color %>"><%= @color_theme.background_color %></span></li>
</ul>
