<%= render "shared/notice" %>
<% content_for :title, "Attendances" %>
  <%#== pagy_nav(@pagy) %>

<div class="my-entity-container px-4 md:px-6 overflow-x-auto">
  <% if @attendance.nil? %>
    <table id="shared-table" class="entity-table" data-turbo="false">
      <thead>
      <tr>
        <th>Student ID</th>
        <th>Timestamp</th>
        <th>User ID</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.student_id %></td>
          <td><%= attendance.timestamp %></td>
          <td><%= attendance.user_id %></td>
          <td>
            <%= link_to attendance, class: "hover:text-blue-500 text-blue-700" do %>
              <i class="fas fa-eye" title="Show"></i> View
            <% end %>
            <%= link_to edit_attendance_path(attendance), class: "hover:text-yellow-500 text-yellow-700" do %>
              <i class="fas fa-edit" title="Edit"></i> Edit
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-left text-gray-600 mt-6 px-6">No attendances available.</p>
  <% end %>
</div>

<%= javascript_include_tag "controllers/students_table_controller" %>
