<%= render "shared/notice" %>
<% content_for :title, "Student Attendance" %>

<div class="student-card max-w-md mx-auto mt-4">
  <div class="mt-4">
    <%= link_to students_path, class: "entity-btn back-btn text-black" do %>
      <i class="fas fa-arrow-left"></i> Back
    <% end %>
  </div>

  <div class="mt-4">
    <%= render @attendance %>
  </div>
  <div class="mt-8 flex justify-center space-x-4">

    <%= link_to edit_attendance_path(@attendance), class: "btn btn-primary" do %>
      <i class="fas fa-edit"></i> Edit
    <% end %>
    <%= button_to @attendance, method: :delete, class: "btn btn-error" do %>
      <i class="fas fa-trash"></i> Delete
    <% end %>
  </div>
</div>
