<!DOCTYPE html>
<html lang="html" data-theme="<%= current_user&.school&.color_theme&.theme_name || "mytheme" %>">
<head>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
  <% if current_user&.school&.color_theme&.theme_name == "mytheme" || current_user&.school&.color_theme&.theme_name == "custom" %>
    <style>
        [data-theme="<%= current_user.school.color_theme.theme_name %>"] {
            --primary: <%= current_user.school.color_theme.primary_color %>;
            --primary-content: #f3faff;
            --secondary: <%= current_user.school.color_theme.secondary_color %>;
            --secondary-content: #f1fbfb;
            --accent: <%= current_user.school.color_theme.accent_color %>;
            --accent-content: #00182a;
            --neutral: #6b8a9e;
            --neutral-content: #f3faff;

            --base-100: <%= current_user.school.color_theme.base_100_color %>;
            --base-200: <%= current_user.school.color_theme.base_200_color %>;
            --base-300: <%= current_user.school.color_theme.base_300_color %>;
            --base-500: <%= current_user.school.color_theme.base_500_color %>;
            --base-content: <%= current_user.school.color_theme.base_content_color || "#1f2937" %>;

            --info: #3ABFF8;
            --info-content: #f3fbff;
            --success: #36D399;
            --success-content: #f3fbf6;
            --warning: #ffd45e;
            --warning-content: #221300;
            --error: #F87272;
            --error-content: #fff6f4;
        }
    </style>
  <% end %>
  <title><%= content_for(:title) || "Schooler" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>

  <%# Enable PWA manifest for installable apps %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>

  <%# Includes all JavaScript files %>
  <%= javascript_include_tag :application, "data-turbo-track": "reload" %>

  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <%# JavaScript Imports %>
  <%= javascript_importmap_tags %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>

</head>
<body class="<%= 'pt-10' if current_user&.approved? && current_user&.school&.has_paid?%>">
<% if current_user&.approved? && current_user&.school&.has_paid? %>
  <%= render "layouts/nav" %>
  <%= render "layouts/drawer" do %>
    <%= yield %>
  <% end %>
<% else %>
  <%= yield %>
<% end %>
</body>
</html>
