<% if current_user&.school&.color_theme %>
  <% raw_theme = current_user.school.color_theme.theme_name %>
  <% theme = raw_theme == "custom" ? "mytheme" : raw_theme %>
<% else %>
  <% theme = "mytheme" %>
<% end %>

<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<head>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>

  <% if current_user&.school&.color_theme && theme == "mytheme" %>
    <style>
        [data-theme="mytheme"] {
            --primary: <%= current_user.school.color_theme.primary_color %>;
            --primary-content: <%= current_user.school.color_theme.primary_content_color || "#f3faff" %>;
            --secondary: <%= current_user.school.color_theme.secondary_color %>;
            --secondary-content: <%= current_user.school.color_theme.secondary_content_color || "#f1fbfb" %>;
            --accent: <%= current_user.school.color_theme.accent_color %>;
            --accent-content: <%= current_user.school.color_theme.accent_content_color || "#00182a" %>;
            --neutral: <%= current_user.school.color_theme.neutral_color || "#6b8a9e" %>;
            --neutral-content: <%= current_user.school.color_theme.neutral_content_color || "#f3faff" %>;

            --base-100: <%= current_user.school.color_theme.base_100_color %>;
            --base-200: <%= current_user.school.color_theme.base_200_color %>;
            --base-300: <%= current_user.school.color_theme.base_300_color %>;
            --base-500: <%= current_user.school.color_theme.base_500_color %>;
            --base-content: <%= current_user.school.color_theme.base_content_color || "#1f2937" %>;

            --info: #3ABFF8;
            --info-content: #f3fbff;
            --success: #36D399;
            --success-content: #f3fbf6;
            --warning: #ffd45e;
            --warning-content: #221300;
            --error: #F87272;
            --error-content: #fff6f4;
        }
    </style>
  <% else %>
    <style>
        :root {
        <% if theme == "light" %>
            --primary: #570df8;
            --primary-content: #ffffff;
            --secondary: #f000b8;
            --secondary-content: #ffffff;
            --accent: #37cdbe;
            --accent-content: #00182A;
            --base-100: #ffffff;
            --base-200: #f8f8f8;
            --base-content: #00182A;
        <% elsif theme == "dark" %>
            --primary: #793ef9;
            --primary-content: #ffffff;
            --secondary: #f000b8;
            --secondary-content: #ffffff;
            --accent: #37cdbe;
            --accent-content: #00182A;
            --base-100: #1e1e1e;
            --base-200: #2a2a2a;
            --base-content: #ffffff;
        <% elsif theme == "pastel" %>
            --primary: #d1c1d7;
            --primary-content: #00182A;
            --secondary: #f4c2c2;
            --secondary-content: #00182A;
            --accent: #b5ead7;
            --accent-content: #00182A;
            --base-100: #ffffff;
            --base-200: #f8f8f8;
            --base-content: #00182A;
        <% end %>
        }
    </style>
  <% end %>

  <title><%= content_for(:title) || "Schooler" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>

  <%= javascript_include_tag :application, "data-turbo-track": "reload" %>

  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <%= javascript_importmap_tags %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
  <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
</head>

<body class="bg-base-100 text-base-content <%= 'pt-10' if current_user&.approved? && current_user&.school&.has_paid? %>">
<% if current_user&.approved? && current_user&.school&.has_paid? %>
  <%= render "layouts/nav" %>
  <%= render "layouts/drawer" do %>
    <%= yield %>
  <% end %>
<% else %>
  <%= yield %>
<% end %>

<% if theme == "mytheme" && current_user&.school&.color_theme %>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          const root = document.documentElement;
          root.style.setProperty("--primary", "<%= current_user.school.color_theme.primary_color %>");
          root.style.setProperty("--primary-content", "<%= current_user.school.color_theme.primary_content_color %>");
          root.style.setProperty("--secondary", "<%= current_user.school.color_theme.secondary_color %>");
          root.style.setProperty("--secondary-content", "<%= current_user.school.color_theme.secondary_content_color %>");
          root.style.setProperty("--accent", "<%= current_user.school.color_theme.accent_color %>");
          root.style.setProperty("--accent-content", "<%= current_user.school.color_theme.accent_content_color %>");
          root.style.setProperty("--base-100", "<%= current_user.school.color_theme.base_100_color %>");
          root.style.setProperty("--base-200", "<%= current_user.school.color_theme.base_200_color %>");
          root.style.setProperty("--base-300", "<%= current_user.school.color_theme.base_300_color %>");
          root.style.setProperty("--base-500", "<%= current_user.school.color_theme.base_500_color %>");
          root.style.setProperty("--base-content", "<%= current_user.school.color_theme.base_content_color %>");
          root.style.setProperty("--neutral", "<%= current_user.school.color_theme.neutral_color %>");
          root.style.setProperty("--neutral-content", "<%= current_user.school.color_theme.neutral_content_color %>");
      });
  </script>
<% end %>

</body>
</html>
